DJANGO_SECRET_KEY=cambia_esto_en_produccion
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GEMINI_API_KEY=pega_aqui_tu_api_key
GEMINI_MODEL=gemini-1.5-flash
NEWS_SOURCE_URL=https://www.ucm.cl/facultades/facultad-de-ciencias-basicas/
NEWS_AUTO_REFRESH=1
NEWS_AUTO_REFRESH_LIMIT=6
NEWS_AUTO_REFRESH_MAX_IMAGES=3
NEWS_AUTO_REFRESH_MAX_AGE_MINUTES=360
NEWS_AUTO_REFRESH_USE_GEMINI=0
NEWS_TTS_LANG=es
NEWS_EDGE_TTS_VOICE=es-CL-CatalinaNeural
